@media (max-width: 1023px) {
  .section-title {
    font-size: 24px;
  }

  .save {
    text-align: center;
    font-size: 80px;
  }
  .save span {
    font-size: 120px;
  }
  .save__text {
    max-width: 700px;
    font-size: 14px;
    line-height: 1.5;
  }

  .save__text1 {
    max-width: 1200px;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  /* nav */
  .header {
    padding: 10px 0;
  }

  .nav {
    width: 100%;
    height: 100vh;

    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #607b83;
  }

  .nav.active {
    display: block;
  }

  .nav-link {
    display: block;
    margin: 0;
    padding: 8px 20px;
  }

  .nav-link::after {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .full-screen__title {
    text-align: center;
    font-size: 50px;
  }
  .full-screen__text {
    max-width: 350px;
    text-align: center;
    font-size: 24px;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 24px;
  }
  .save {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
  }
  .save span {
    font-size: 90px;
  }
  .save__text {
    max-width: 350px;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 380px) {
  .section-title {
    font-size: 20px;
  }
  .save {
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
  }
  .save span {
    font-size: 70px;
  }
}

@media (max-height: 540px) {
  .save {
    max-width: 350px;
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
  }
  .save span {
    font-size: 70px;
  }
  .save__text1 {
    width: 300px;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }
}
