.section--intro {
  padding: 0;
}

.section-header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;

  text-align: center;
}

.section-suptitle {
  font-size: 24px;
  color: #fff;
  font-family: 'Playfair Display';
  font-style: italic;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  text-transform: uppercase;
}

// .section-title::after {
//   content: '';
//   display: block;
//   width: 60px;
//   height: 3px;
//   margin: 30px auto;

//   background-color: #607b83;
// }

.section-text {
  font-size: 21px;
  line-height: 1.2;
  color: #fff;

  margin-top: 0;
  margin-bottom: 80px;
}
